## Objective

After completing this learners will:
- Understand why EDA is the most critical ML Phase
- Apply theory-backed EDA techniques
- Perform stakeholder-ready data storytelling
- Detect non-linearity, bias, and leakage
- Produce interviwe-and production- grade EDA

In [4]:
import numpy as np
import pandas as pd

In [109]:
np.random.seed(42)
pd.set_option("display.max_columns",None)
df = pd.read_csv("cars24-car-price-cleaned-new.csv")
df.head()

,selling_price,km_driven,mileage,engine,max_power,age,make,model,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5
0,1.20,120000,19.70,796.0,46.30,11.0,MARUTI,ALTO STD,1,0,0,0,0,1,1,1,0
1,5.50,20000,18.90,1197.0,82.00,7.0,HYUNDAI,GRAND I10 ASTA,1,0,0,0,0,1,1,1,0
2,2.15,60000,17.00,1197.0,80.00,13.0,HYUNDAI,I20 ASTA,1,0,0,0,0,1,1,1,0
3,2.26,37000,20.92,998.0,67.10,11.0,MARUTI,ALTO K10 2010-2014 VXI,1,0,0,0,0,1,1,1,0
4,5.70,30000,22.77,1498.0,98.59,8.0,FORD,ECOSPORT 2015-2021 1.5 TDCI TITANIUM BSIV,0,0,1,0,0,0,1,1,0

In [99]:
np.random.rand(5)

array([0.10312387, 0.90255291, 0.50525237, 0.82645747, 0.3200496 ])

In [107]:
np.random.seed(787)
np.random.rand(5)

array([0.60559405, 0.68185301, 0.96401299, 0.0970847 , 0.8028006 ])

In [110]:
def get_fuel_type(row):
    if row['Petrol'] == 1:
        return 'Petrol'
    elif row['Diesel'] == 1:
        return 'Diesel'
    elif row['LPG'] == 1:
        return 'LPG'
    elif row['Electric'] == 1:
        return 'Electric'
    else:
        return 'Other'

In [111]:
df['fuel_type'] = df.apply(get_fuel_type, axis=1)

In [112]:
df

,selling_price,km_driven,mileage,engine,max_power,age,make,model,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5,fuel_type
0,1.20,120000,19.70,796.0,46.30,11.0,MARUTI,ALTO STD,1,0,0,0,0,1,1,1,0,Petrol
1,5.50,20000,18.90,1197.0,82.00,7.0,HYUNDAI,GRAND I10 ASTA,1,0,0,0,0,1,1,1,0,Petrol
2,2.15,60000,17.00,1197.0,80.00,13.0,HYUNDAI,I20 ASTA,1,0,0,0,0,1,1,1,0,Petrol
3,2.26,37000,20.92,998.0,67.10,11.0,MARUTI,ALTO K10 2010-2014 VXI,1,0,0,0,0,1,1,1,0,Petrol
4,5.70,30000,22.77,1498.0,98.59,8.0,FORD,ECOSPORT 2015-2021 1.5 TDCI TITANIUM BSIV,0,0,1,0,0,0,1,1,0,Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19815,6.50,69480,23.59,1364.0,67.05,6.0,TOYOTA,PLATINUM ETIOS 1.4 GXD,0,0,1,0,0,0,1,1,0,Diesel
19816,9.25,18000,17.50,1373.0,91.10,4.0,MARUTI,ERTIGA BSIV VXI,0,0,0,0,0,1,1,0,1,Petrol
19817,4.25,67000,21.14,1498.0,103.52,8.0,SKODA,RAPID 1.5 TDI ELEGANCE,0,0,1,0,0,0,1,1,0,Diesel
19818,12.25,3800000,16.00,2179.0,140.00,7.0,MAHINDRA,XUV500 W6 2WD,0,0,1,0,0,0,1,0,1,Diesel
19819,12.00,13000,18.00,1497.0,117.60,4.0,HONDA,CITY I-VTEC CVT VX,0,0,0,0,0,1,0,1,0,Petrol

In [113]:
df['transmission'] = df['Manual'].apply(lambda x: 'Manual' if x == 1 else 'Automatic')

In [117]:
cities = ["Delhi", "Mumbai", "Bangalore", "Chennai", "Kolkata", "Hyderabad", "Pune", "Ahemdabad"]
df['city'] = np.random.choice(cities, size=len(df))

df.head()

,selling_price,km_driven,mileage,engine,max_power,age,make,model,Individual,Trustmark Dealer,Diesel,Electric,LPG,Petrol,Manual,5,>5,fuel_type,transmission,city
0,1.20,120000,19.70,796.0,46.30,11.0,MARUTI,ALTO STD,1,0,0,0,0,1,1,1,0,Petrol,Manual,Hyderabad
1,5.50,20000,18.90,1197.0,82.00,7.0,HYUNDAI,GRAND I10 ASTA,1,0,0,0,0,1,1,1,0,Petrol,Manual,Delhi
2,2.15,60000,17.00,1197.0,80.00,13.0,HYUNDAI,I20 ASTA,1,0,0,0,0,1,1,1,0,Petrol,Manual,Pune
3,2.26,37000,20.92,998.0,67.10,11.0,MARUTI,ALTO K10 2010-2014 VXI,1,0,0,0,0,1,1,1,0,Petrol,Manual,Ahemdabad
4,5.70,30000,22.77,1498.0,98.59,8.0,FORD,ECOSPORT 2015-2021 1.5 TDCI TITANIUM BSIV,0,0,1,0,0,0,1,1,0,Diesel,Manual,Chennai